
body {
  background-image: url("/static/Wood_background.jpg");
  background-repeat: repeat;
}

table, th, td {
  border: 1px solid;
}

nav {
  width: 350px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

#navbar {
  list-style-type: none;
  margin: 10px;
  padding: 5px;  
  text-align: center;
  background-color: AntiqueWhite;
  border: 1px solid brown;
  border-radius: 7px;
  
}


#navbar li{
  display: inline;
  margin-left: 20px;
}

#navbar li a {
  text-decoration: none;
}

#navbar li a:hover {
  text-decoration: underline;
}

#choices {
  border: 1px solid lightgrey;  
  margin: 5px;
}

#choices input{
  margin-right: 30px;
}


/* Begin the closet on the main page */
#closet {
    border-radius: 25px;
    border: 2px solid brown;
    padding: 20px;
    width: 500px;
    background-color: white;
    text-align: center;
    margin: auto;
    
}

#closet table {
  margin:auto;
  border: none;
  
}

#closet td {
  padding-left: 40px;
  border: none;
}

/* End the closet on the main page */


/* Begin of the options menu on the main page */
/*From: https://www.w3schools.com/css/css_dropdowns.asp */
.options_btn {
  background-color: BurlyWood;
  padding: 5px;
  font-size: 16px;
  border: 1px solid brown;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: BurlyWood;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* End of the options menu on the main page */


/* Begin of drag&drop section */
/* From: https://stackoverflow.com/a/45249452/5820360 */
.file-area {
    width: 100%;
    position: relative;
    font-size: 18px;
}

.file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.file-area .file-dummy {
    width: 100%;
    padding: 50px 30px;
    border: 2px dashed #ccc;
    background-color: #fff;
    text-align: center;
    transition: background 0.3s ease-in-out;
}
.file-area .file-dummy .success {
    display: none;
}
.file-area:hover .file-dummy {
    border: 2px dashed #1abc9c;
}
.file-area input[type=file]:valid + .file-dummy {
    border-color: #1abc9c;
}
.file-area input[type=file]:valid + .file-dummy .success {
    display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
    display: none;
}
/* End of drag&drop section */

/* Here begins the style for the weather widget */
#weather_container {
  width: 320px;
  margin: auto;
  text-align: center;
}

/* These are the three elements on the container side by side */
#weather_container div {
  display: inline-block;
  vertical-align: middle;
}

/* These are the two blocks with temperature and humidity/wind */
#weather_container div div{
  vertical-align: top;
  padding-right: 5px;
}

/* These are the divs with the numbers*/
#weather_container div div div div{
  display:block;
}

/* The weather icon */
#weather_container img {
  width: 35px;
}
/* Here ends the style for the weather widget */

